# ignore PHPStorm extra directories
.idea/

# Leave node_modules from git
node_modules/

# sass cache
.sass-cache

# Exclude OS specific files
.DS_Store

# Exclude composer's directories
vendor/

dist/

assets/js/

tailwind.css